:root {
	--dark-grey: #767676;
	--light-grey: #efefef;
	--grey: #ddd;
	--white: #fff;
	--black: #111;
}
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'roboto', sans-serif;
}
body {
	background-color: var(--light-grey);
}

nav {
	background-color: var(--white);
	padding: 20px 35px;
	box-shadow: 0 2px 2px 2px var(--grey);
}
nav h1 {
	font-size: 35px;
	color: var(--black);
}
main {
	padding: 30px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.add-book {
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: transparent;
	transition: 300ms all ease;
}
.add-book:hover {
	background-color: var(--dark-grey);
}
.form-container {
	position: fixed;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	display: none;
	padding-top: 20px;
}
.form {
	display: flex;
	flex-direction: column;
	width: 300px;
	gap: 20px;
	padding: 10px;
	text-align: center;
	background-color: var(--grey);
	border-radius: 5px;
	border: none;
	box-shadow: 2px 2px 2px 2px rgb(99, 99, 99);
}
.form h3 {
	font-size: 1.3rem;
	color: var(--black);
}
.form input {
	border-radius: 5px;
	border: none;
	outline: none;
	background-color: var(--white);
	padding: 10px;
}
.new-book {
	font-size: 1.2rem;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #9fff9c;
	transition: 300ms all ease;
}
.new-book:hover {
	filter: brightness(90%);
}
.library {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	padding-top: 30px;
}
.book {
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
	gap: 20px;
	border: none;
	border-radius: 10px;
	background-color: var(--white);
	box-shadow: 2px 2px 2px 2px rgb(99, 99, 99);
	width: 300px;
	padding: 20px;
}
.title {
	text-align: center;
	font-size: 1.4rem;
}
.author {
	text-align: center;
	font-size: 1.3rem;
}
.pages {
	text-align: center;
	font-size: 1.2rem;
}
.read {
	padding: 10px;
	border-radius: 5px;
	border: none;
}
.remove {
	padding: 10px;
	border-radius: 5px;
	border: none;
}
